{% extends 'base.html' %}

{% block title %}
    Product list
{% endblock %}

{% block content %}
    <ul>
        {% for product in products %}
            <li>
                {#<a href="{% url 'product-detail' product_id=product.id %}">{{ product.title }}</a>#}
                <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <p>
        number of products : {{ number_of_products }}
    </p>
    <p>
        average rating of products : {{ avg_rating.rating__avg }}
    </p>
{% endblock %}